body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    background-image: url("../image/audiR8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome-text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 2;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 10px;
    /*width: 90%;*/
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

form input[type="date"], form select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 auto 1em;
}


form input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 90%;
    }
    background-size: 100% auto;
}

.car_image{
    width: 400px;
}

.carTd{
    text-align: center;
    padding: 0 50px;
    vertical-align: middle;
    font-size: 30px;

}

.cars-table-container{
    width: 1000px;
}