<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Typ nadwoziaE</th>
        <th scope="col">Rocznik</th>
        <th scope="col">Kolor</th>
        <th scope="col">Przebieg</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car:${cars}">
        <th scope="row" th:text="${car.getId()}"></th>
        <td th:text="${car.getBrand()}"></td>
        <td th:text="${car.getName()}"></td>
        <td th:text="${car.getBodyType()}"></td>
        <td th:text="${car.getYear()}"></td>
        <td th:text="${car.getColor()}"></td>
        <td th:text="${car.getMileage()}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>