<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Data rezerwacji</th>
    <th scope="col">ID Klienta</th>
    <th scope="col">ID Samochodu</th>
    <th scope="col">Data od</th>
    <th scope="col">Data do</th>
    <th scope="col">Oddział wypożyczenia</th>
    <th scope="col">Oddział zwrotu</th>
    <th scope="col">Kwota</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reservation:${reservations}">
    <th scope="row" th:text="${reservation.getId()}"></th>
    <td th:text="${reservation.getReservDate()}"></td>
    <td th:text="${reservation.getClientId()}"></td>
    <td th:text="${reservation.getCarId()}"></td>
    <td th:text="${reservation.getDateFor()}"></td>
    <td th:text="${reservation.getDateTo()}"></td>
    <td th:text="${reservation.getReservBranchId()}"></td>
    <td th:text="${reservation.getBranchReturnId()}"></td>
    <td th:text="${reservation.getAmount()}"></td>

  </tr>
  </tbody>
</table>
</body>
</html>